.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  //   &.characters {
  //     align-items: flex-start;
  //   }
}

.box {
  display: flex;
  gap: 20px;
  justify-content: space-between;

  width: 100%;
  max-width: 1200px;

  padding: 30px;

  margin: 50px;
  background-color: rgba(255, 255, 255, 0.368);

  border-radius: 13px;

  box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.07);
}
